<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Avneesh Mehta and Shaurya Sanghavi" content="text summarizer">

    <title>Summarizer</title>

  </head>

  <body>
    <div>
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
       </form>
       <br>
        <div>
          <p>
            {{ summary }}
          </p>
        </div>
    </div>
  </body>

</html>
